In [1]:
pip install pandas

Requirement already satisfied: pandas in /Users/meyacarlos/anaconda3/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/meyacarlos/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/meyacarlos/anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/meyacarlos/anaconda3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /Users/meyacarlos/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

df = pd.read_csv("/Users/meyacarlos/Desktop/ITMGT25/Pandas exercise/fct_invoice.csv")

df.head()

,invoice_no,customer_id,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,229,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,3433,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,644,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,4900,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,1089,Books,4,60.60,Cash,24/10/2021,Kanyon

Describing the data only (using only single column):

In [3]:
#1. How many unique customers are there in the dataset? Can you identify any frequent or loyal customers?

len(df["customer_id"].unique())

5191

In [4]:
df['customer_id'].value_counts()

50      128
7       121
4       117
80      113
74      112
       ...
3677      1
4695      1
6468      1
4937      1
4761      1
Name: customer_id, Length: 5191, dtype: int64

In [8]:
#2. What are the different categories of products available? How many unique categories are there?

print(df['category'].unique())

len(df['category'].unique())

['Clothing' 'Shoes' 'Books' 'Cosmetics' 'Food & Beverage' 'Toys'
 'Technology' 'Souvenir']

8

In [13]:
#3. What are the different payment methods used by customers? Which payment methods are the most popular?

print(df['payment_method'].unique())
print("")
print(df['payment_method'].value_counts())

['Credit Card' 'Debit Card' 'Cash']

Cash           44447
Credit Card    34931
Debit Card     20079
Name: payment_method, dtype: int64

In [58]:
#4. How is the data distributed across different invoice dates? Are there any seasonal trends or patterns?

df["invoice_date"].value_counts()

2021-11-24    159
2023-02-26    156
2021-06-01    155
2022-07-25    155
2022-10-23    155
             ...
2021-10-27     98
2021-05-29     98
2021-09-30     96
2021-02-12     94
2022-01-16     93
Name: invoice_date, Length: 797, dtype: int64

In [ ]:
#5. Which shopping malls are included in the dataset? Are there any malls that contribute more sales than others?

In [14]:
print(df['shopping_mall'].unique())

['Kanyon' 'Forum Istanbul' 'Metrocity' 'Metropol AVM' 'Istinye Park'
 'Mall of Istanbul' 'Emaar Square Mall' 'Cevahir AVM' 'Viaport Outlet'
 'Zorlu Center']

In [16]:
df['total_sales'] = df["quantity"] * df["price"]
df

,invoice_no,customer_id,category,quantity,price,payment_method,invoice_date,shopping_mall,total_sales
0,I138884,229,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon,7502.00
1,I317333,3433,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul,5401.53
2,I127801,644,Clothing,1,300.08,Cash,9/11/2021,Metrocity,300.08
3,I173702,4900,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM,15004.25
4,I337046,1089,Books,4,60.60,Cash,24/10/2021,Kanyon,242.40
...,...,...,...,...,...,...,...,...,...
99452,I219422,2344,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon,293.25
99453,I325143,172,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul,20.92
99454,I824010,425,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity,20.92
99455,I702964,577,Technology,4,4200.00,Cash,16/03/2021,Istinye Park,16800.00
99456,I232867,30,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul,105.57

In [17]:
df['total_sales'].sum()

251505794.25000003

In [18]:
#to group it by (like count ifs on excel)

df.groupby("shopping_mall").sum()['total_sales']

/var/folders/38/4hk607zj14gf35c9c75p_3fm0000gn/T/ipykernel_14842/2969473888.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("shopping_mall").sum()['total_sales']

shopping_mall
Cevahir AVM          12645138.20
Emaar Square Mall    12406100.29
Forum Istanbul       12303921.24
Istinye Park         24618827.68
Kanyon               50554231.10
Mall of Istanbul     50872481.68
Metrocity            37302787.33
Metropol AVM         25379913.19
Viaport Outlet       12521339.72
Zorlu Center         12901053.82
Name: total_sales, dtype: float64

In [19]:
#summing everything up

df.groupby('shopping_mall').sum()

/var/folders/38/4hk607zj14gf35c9c75p_3fm0000gn/T/ipykernel_14842/3691999415.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('shopping_mall').sum()

                   customer_id  quantity        price  total_sales
shopping_mall
Cevahir AVM            4982298     14949   3433671.84  12645138.20
Emaar Square Mall      4859527     14501   3390408.31  12406100.29
Forum Istanbul         4822975     14852   3336073.82  12303921.24
Istinye Park           9649583     29465   6717077.54  24618827.68
Kanyon                19911638     59457  13710755.24  50554231.10
Mall of Istanbul      19800478     60114  13851737.62  50872481.68
Metrocity             15290743     44894  10249980.07  37302787.33
Metropol AVM           9982722     30530   6937992.99  25379913.19
Viaport Outlet         5034829     14716   3414019.46  12521339.72
Zorlu Center           5086804     15234   3509649.02  12901053.82

Using two or more columns

In [21]:
import json

json_df = pd.read_json("/Users/meyacarlos/Desktop/ITMGT25/Pandas exercise/dim_customer.json")
json_df

       age first_name gender     id last_name
0     48.0   Nicholas      M      0    Flores
1      NaN    Jeffery      M      1      Rowe
2     57.0     Alexis      F      2    Benton
3     73.0        Amy      F      3   Johnson
4     20.0      David      M      4     Moore
...    ...        ...    ...    ...       ...
5186   NaN     Arthur      M   9428    Harris
5187   NaN      David      M   9494       Roy
5188  85.0     Thomas      M  10350    Turner
5189   NaN      April      F  10587   Sanchez
5190   NaN     Andrew      M  10934   Compton

[5191 rows x 5 columns]

In [27]:
#1. Demographics related to shopping mall

merged_df = pd.merge(df[['shopping_mall']], json_df[['age','gender']], left_on=df['customer_id'],right_on=json_df['id'])

print(merged_df)

       key_0   shopping_mall   age gender
0        229          Kanyon   NaN      M
1        229       Metrocity   NaN      M
2        229    Istinye Park   NaN      M
3        229    Zorlu Center   NaN      M
4        229    Istinye Park   NaN      M
...      ...             ...   ...    ...
99452   4973          Kanyon   NaN      F
99453   6161  Viaport Outlet  36.0      F
99454   6779    Metropol AVM   NaN      F
99455   8386    Istinye Park  47.0      M
99456   4761  Forum Istanbul  52.0      F

[99457 rows x 4 columns]

In [28]:
counts=merged_df.groupby('shopping_mall')['gender'].value_counts()

print(counts)

shopping_mall      gender
Cevahir AVM        F          2594
                   M          2397
Emaar Square Mall  F          2460
                   M          2351
Forum Istanbul     F          2640
                   M          2307
Istinye Park       F          5016
                   M          4765
Kanyon             F         10244
                   M          9579
Mall of Istanbul   F         10233
                   M          9710
Metrocity          F          7756
                   M          7255
Metropol AVM       F          5230
                   M          4931
Viaport Outlet     F          2548
                   M          2366
Zorlu Center       F          2665
                   M          2410
Name: gender, dtype: int64

In [30]:
#2 2. Demographics related to price / quantity / category of items being bought

merged_df = pd.merge(df[['price', 'quantity', 'category']], json_df[['age','gender']], left_on=df['customer_id'],right_on=json_df['id'])

print(merged_df)

       key_0    price  quantity   category   age gender
0        229  1500.40         5   Clothing   NaN      M
1        229    81.32         2  Cosmetics   NaN      M
2        229  1800.51         3      Shoes   NaN      M
3        229   900.24         3   Clothing   NaN      M
4        229  3000.85         5      Shoes   NaN      M
...      ...      ...       ...        ...   ...    ...
99452   4973   600.17         1      Shoes   NaN      F
99453   6161    75.75         5      Books  36.0      F
99454   6779  1500.40         5   Clothing   NaN      F
99455   8386   600.16         2   Clothing  47.0      M
99456   4761   162.64         4  Cosmetics  52.0      F

[99457 rows x 6 columns]

In [31]:
counts=merged_df.groupby('quantity')['gender'].value_counts()

print(counts)

quantity  gender
1         F         10278
          M          9489
2         F         10348
          M          9480
3         F         10271
          M          9878
4         F         10143
          M          9580
5         F         10346
          M          9644
Name: gender, dtype: int64

In [32]:
#3. Category and payment method (may preference ba in payment method when buying a specific category)

frequency_table = df.groupby('category')['payment_method'].value_counts().reset_index(name = 'frequency')

print(frequency_table)

           category payment_method  frequency
0             Books           Cash       2268
1             Books    Credit Card       1696
2             Books     Debit Card       1017
3          Clothing           Cash      15456
4          Clothing    Credit Card      12025
5          Clothing     Debit Card       7006
6         Cosmetics           Cash       6674
7         Cosmetics    Credit Card       5336
8         Cosmetics     Debit Card       3087
9   Food & Beverage           Cash       6587
10  Food & Beverage    Credit Card       5250
11  Food & Beverage     Debit Card       2939
12            Shoes           Cash       4474
13            Shoes    Credit Card       3553
14            Shoes     Debit Card       2007
15         Souvenir           Cash       2211
16         Souvenir    Credit Card       1770
17         Souvenir     Debit Card       1018
18       Technology           Cash       2235
19       Technology    Credit Card       1753
20       Technology     Debit Card       1008
21             Toys           Cash       4542
22             Toys    Credit Card       3548
23             Toys     Debit Card       1997

In [33]:
#4. Category and shopping mall (may specialty ba ung mall?)

df[['shopping_mall','category']].value_counts().reset_index(name="frequency")

        shopping_mall    category  frequency
0    Mall of Istanbul    Clothing       6923
1              Kanyon    Clothing       6840
2           Metrocity    Clothing       5268
3        Metropol AVM    Clothing       3525
4        Istinye Park    Clothing       3353
..                ...         ...        ...
75     Viaport Outlet       Books        246
76        Cevahir AVM    Souvenir        240
77  Emaar Square Mall       Books        236
78     Forum Istanbul  Technology        234
79     Viaport Outlet    Souvenir        225

[80 rows x 3 columns]

In [49]:
#5. Daily / Monthly / Yearly breakdown of items sold in a given shopping mall

df['invoice_date'] = pd.to_datetime(df['invoice_date'])
df['year'] = df['invoice_date'].dt.year
df['month'] = df['invoice_date'].dt.month
df['day'] = df['invoice_date'].dt.day

daily_breakdown = df.groupby(['year', 'month', 'day'])['category','shopping_mall'].value_counts().reset_index(name = 'frequency')
monthly_breakdown = df.groupby(['year', 'month'])['category','shopping_mall'].value_counts().reset_index(name = 'frequency')
yearly_breakdown = df.groupby('year')['category','shopping_mall'].value_counts().reset_index(name = 'frequency')

print(daily_breakdown)
print(monthly_breakdown)
print(yearly_breakdown)

       year  month  day         category      shopping_mall  frequency
0      2021      1    1         Clothing   Mall of Istanbul          8
1      2021      1    1        Cosmetics   Mall of Istanbul          6
2      2021      1    1            Shoes   Mall of Istanbul          5
3      2021      1    1         Clothing          Metrocity          5
4      2021      1    1  Food & Beverage          Metrocity          4
...     ...    ...  ...              ...                ...        ...
40247  2023     12    2  Food & Beverage     Forum Istanbul          1
40248  2023     12    2         Clothing       Metropol AVM          1
40249  2023     12    2        Cosmetics  Emaar Square Mall          1
40250  2023     12    2        Cosmetics       Istinye Park          1
40251  2023     12    2             Toys     Viaport Outlet          1

[40252 rows x 6 columns]
      year  month         category     shopping_mall  frequency
0     2021      1         Clothing  Mall of Istanbul        286
1     2021      1         Clothing            Kanyon        257
2     2021      1         Clothing         Metrocity        181
3     2021      1         Clothing      Istinye Park        140
4     2021      1  Food & Beverage  Mall of Istanbul        125
...    ...    ...              ...               ...        ...
2759  2023     12  Food & Beverage    Viaport Outlet          1
2760  2023     12        Cosmetics    Forum Istanbul          1
2761  2023     12        Cosmetics    Viaport Outlet          1
2762  2023     12  Food & Beverage       Cevahir AVM          1
2763  2023     12  Food & Beverage    Forum Istanbul          1

[2764 rows x 5 columns]
     year    category      shopping_mall  frequency
0    2021    Clothing   Mall of Istanbul       3187
1    2021    Clothing             Kanyon       3141
2    2021    Clothing          Metrocity       2445
3    2021    Clothing       Metropol AVM       1643
4    2021    Clothing       Istinye Park       1541
..    ...         ...                ...        ...
235  2023    Souvenir     Viaport Outlet         20
236  2023  Technology        Cevahir AVM         19
237  2023  Technology  Emaar Square Mall         17
238  2023  Technology     Forum Istanbul         14
239  2023       Books        Cevahir AVM         12

[240 rows x 4 columns]

/var/folders/38/4hk607zj14gf35c9c75p_3fm0000gn/T/ipykernel_14842/490114108.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  daily_breakdown = df.groupby(['year', 'month', 'day'])['category','shopping_mall'].value_counts().reset_index(name = 'frequency')
/var/folders/38/4hk607zj14gf35c9c75p_3fm0000gn/T/ipykernel_14842/490114108.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  monthly_breakdown = df.groupby(['year', 'month'])['category','shopping_mall'].value_counts().reset_index(name = 'frequency')
/var/folders/38/4hk607zj14gf35c9c75p_3fm0000gn/T/ipykernel_14842/490114108.py:10: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  yearly_breakdown = df.groupby('year')['category','shopping_mall'].value_counts().reset_index(name = 'frequency')

In [34]:
#6. Describing the customer using their purchase history (understanding user persona)

customerid = int(input("Customer ID: "))

info = df[df['customer_id'] == customerid]

print(info)

Customer ID: 644
      invoice_no  customer_id         category  quantity    price  \
2        I127801          644         Clothing         1   300.08
186      I198233          644        Cosmetics         4   162.64
850      I225178          644         Clothing         5  1500.40
1350     I310772          644            Shoes         5  3000.85
5506     I712882          644         Clothing         4  1200.32
10104    I585649          644         Clothing         4  1200.32
11683    I237222          644         Souvenir         4    46.92
12162    I222344          644         Clothing         2   600.16
14284    I181097          644            Books         4    60.60
16613    I267734          644             Toys         3   107.52
16904    I310101          644  Food & Beverage         1     5.23
19108    I115012          644            Shoes         5  3000.85
19246    I149622          644         Clothing         5  1500.40
19590    I985254          644  Food & Beverage         1     5.23
20452    I222231          644       Technology         2  2100.00
24081    I177715          644  Food & Beverage         4    20.92
25680    I935307          644         Clothing         5  1500.40
27083    I106738          644         Clothing         1   300.08
27486    I761928          644        Cosmetics         4   162.64
28240    I708292          644  Food & Beverage         3    15.69
28977    I251337          644         Clothing         4  1200.32
30086    I250771          644  Food & Beverage         1     5.23
31993    I176011          644         Clothing         2   600.16
32192    I324569          644            Shoes         1   600.17
36572    I199366          644        Cosmetics         5   203.30
37830    I121760          644         Clothing         1   300.08
37893    I110906          644         Souvenir         5    58.65
43016    I210338          644            Books         5    75.75
43064    I162026          644  Food & Beverage         4    20.92
44797    I279666          644         Clothing         2   600.16
48638    I272301          644       Technology         4  4200.00
51402    I274617          644        Cosmetics         2    81.32
53639    I114065          644         Clothing         5  1500.40
54178    I136665          644         Clothing         5  1500.40
56254    I892906          644             Toys         1    35.84
58400    I138665          644         Clothing         2   600.16
59630    I299193          644         Clothing         2   600.16
62866    I362341          644             Toys         5   179.20
62959    I252609          644         Clothing         3   900.24
67344    I201731          644  Food & Beverage         3    15.69
68433    I744901          644            Shoes         5  3000.85
68867    I283869          644         Clothing         4  1200.32
70737    I174394          644         Clothing         5  1500.40
71713    I112577          644            Shoes         2  1200.34
79427    I325952          644            Shoes         2  1200.34
80888    I318643          644         Clothing         4  1200.32
81747    I231199          644        Cosmetics         2    81.32
83462    I315666          644         Clothing         3   900.24
83527    I255340          644        Cosmetics         2    81.32
85809    I907856          644         Clothing         2   600.16
87297    I200928          644             Toys         1    35.84
88970    I187693          644            Shoes         2  1200.34
93563    I189988          644  Food & Beverage         5    26.15
95587    I823388          644         Clothing         2   600.16
98142    I338360          644  Food & Beverage         2    10.46
98351    I246978          644             Toys         5   179.20

      payment_method invoice_date      shopping_mall  total_sales
2               Cash    9/11/2021          Metrocity       300.08
186             Cash   13/02/2023       Metropol AVM       650.56
850      Credit Card    10/2/2021             Kanyon      7502.00
1350            Cash   19/05/2021       Istinye Park     15004.25
5506            Cash   21/04/2022       Istinye Park      4801.28
10104           Cash     2/8/2022             Kanyon      4801.28
11683           Cash   14/04/2022             Kanyon       187.68
12162    Credit Card   13/02/2022          Metrocity      1200.32
14284           Cash    9/12/2022       Metropol AVM       242.40
16613           Cash   12/10/2021   Mall of Istanbul       322.56
16904           Cash     1/3/2022   Mall of Istanbul         5.23
19108           Cash   29/08/2021             Kanyon     15004.25
19246     Debit Card     2/1/2021   Mall of Istanbul      7502.00
19590           Cash     4/7/2021     Viaport Outlet         5.23
20452    Credit Card   24/10/2022     Viaport Outlet      4200.00
24081    Credit Card   19/02/2021             Kanyon        83.68
25680           Cash   26/09/2022       Istinye Park      7502.00
27083     Debit Card   18/10/2022          Metrocity       300.08
27486    Credit Card   25/01/2021             Kanyon       650.56
28240    Credit Card     3/2/2023             Kanyon        47.07
28977     Debit Card    1/12/2022   Mall of Istanbul      4801.28
30086     Debit Card    11/7/2022        Cevahir AVM         5.23
31993    Credit Card   21/11/2022          Metrocity      1200.32
32192           Cash   18/05/2022   Mall of Istanbul       600.17
36572    Credit Card   18/12/2021   Mall of Istanbul      1016.50
37830           Cash   14/10/2022          Metrocity       300.08
37893     Debit Card   10/12/2021   Mall of Istanbul       293.25
43016     Debit Card   26/05/2022       Istinye Park       378.75
43064     Debit Card     3/9/2021             Kanyon        83.68
44797           Cash   28/05/2021   Mall of Istanbul      1200.32
48638     Debit Card   22/07/2022   Mall of Istanbul     16800.00
51402    Credit Card   24/04/2022             Kanyon       162.64
53639     Debit Card    2/12/2021             Kanyon      7502.00
54178    Credit Card   15/11/2022     Forum Istanbul      7502.00
56254           Cash   22/01/2022             Kanyon        35.84
58400    Credit Card   27/04/2021     Forum Istanbul      1200.32
59630    Credit Card   12/10/2021     Viaport Outlet      1200.32
62866     Debit Card     9/4/2022       Istinye Park       896.00
62959     Debit Card     2/9/2021       Metropol AVM      2700.72
67344           Cash   12/12/2022             Kanyon        47.07
68433    Credit Card   10/10/2021     Forum Istanbul     15004.25
68867    Credit Card   20/10/2022   Mall of Istanbul      4801.28
70737    Credit Card   29/07/2022     Forum Istanbul      7502.00
71713    Credit Card   25/12/2021             Kanyon      2400.68
79427    Credit Card   17/11/2021   Mall of Istanbul      2400.68
80888           Cash   18/05/2021  Emaar Square Mall      4801.28
81747    Credit Card   13/02/2021          Metrocity       162.64
83462           Cash     3/2/2022   Mall of Istanbul      2700.72
83527    Credit Card   21/07/2021          Metrocity       162.64
85809           Cash     6/8/2022       Istinye Park      1200.32
87297     Debit Card   22/07/2021       Metropol AVM        35.84
88970    Credit Card     2/2/2021   Mall of Istanbul      2400.68
93563     Debit Card   13/06/2021             Kanyon       130.75
95587    Credit Card   11/11/2022          Metrocity      1200.32
98142    Credit Card     5/4/2022       Metropol AVM        20.92
98351           Cash   22/03/2021          Metrocity       896.00